// Typography: Font families, headings, text styles, and font-related utilities
@use '../abstracts/variables' as v;


body {
  font-family: v.$font-family-base;
  font-size: v.$font-size-base;
  line-height: v.$line-height-base;;
  color: v.$text-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: v.$font-family-heading;
  font-weight: v.$line-height-heading;
  line-height: 1.2;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }